<div class="container-fluid h-screen flex flex-col items-center bg-slate-700">
    <h2 class="m-5 font-orbitron text-center text-5xl font-bold bg-gradient-to-t cursor-default from-orange-500 to-slate-900 text-transparent bg-clip-text select-none">Mis passwords</h2>
    <div *ngIf="accountList.length > 0" class="relative overflow-x-auto sm:rounded-lg mt-14 border-0 border-white rounded-lg shadow-sm shadow-orange-500">
        <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-orange-500">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Sitio
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha de creación
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha de expiración
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contraseña
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span>Editar</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span>Borrar</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of accountList; index as i" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 font-semibold hover:bg-gray-50 dark:hover:bg-gray-700">
                    <td scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                        {{cuenta.site}}
                    </td>
                    <td class="px-6 py-4">
                        {{cuenta.createTime}}
                    </td>
                    <td class="px-6 py-4">
                        <p *ngIf="(actualDate | dateComparer:cuenta.expirationTime) <= 0" title="La contraseña ha expirado" class="bg-red-600 rounded-xl py-1 font-semibold text-white">{{cuenta.expirationTime}}</p>
                        <p *ngIf="(actualDate | dateComparer:cuenta.expirationTime) <= 10 && (actualDate | dateComparer:cuenta.expirationTime) > 0" title="La contraseña está a punto de expirar" class="bg-yellow-500 rounded-xl py-1 font-semibold text-black">{{cuenta.expirationTime}}</p>
                        <p *ngIf="(actualDate | dateComparer:cuenta.expirationTime) > 10">{{cuenta.expirationTime}}</p>
                    </td>
                    <td class="px-8 py-4 flex">
                        <input class="bg-transparent text-center" type="password" id="password{{accountList.indexOf(cuenta)}}" value="{{cuenta.password}}">
                        <div *ngIf="showPasswordButton" class="mx-4">
                            <button type="button" class="transition-all active:translate-y-1 text-blue-500" (click)="showPassword(i)"><i class="fa-regular fa-eye"></i></button>
                        </div>
                        <div *ngIf="hidePasswordButton" class="mx-4">
                            <button type="button" class="transition-all active:translate-y-1 text-blue-500" (click)="hidePassword(i)" ><i class="fa-regular fa-eye-slash"></i></button>
                            <button type="button" class="mx-1 transition-all active:translate-y-1 text-blue-500" (click)="copyToClipboard(i)"><i class="fa-regular fa-copy"></i></button>
                        </div>
                        
                    </td>
                    <td class="px-6 py-4 text-center">
                        <button type="button" (click)="editAccount(cuenta.site)" class="font-medium text-blue-600 dark:text-blue-500 transition-all active:translate-y-1"><i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <button type="button" (click)="deleteAccount(cuenta.site)" class="font-medium text-blue-600 dark:text-blue-500 transition-all active:translate-y-1"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>            
            </tbody>
        </table>
    </div>
    <div *ngIf="accountList.length == 0" class="relative p-5 overflow-x-auto sm:rounded-lg mt-14 border-0 border-white rounded-lg shadow-sm shadow-orange-500">
        <h2 class="text-xl font-bold text-gray-300">Aún no tienes cuentas guardadas</h2>
    </div>
    <div *ngIf="this.accountList.length > 0" class="w-[20%] mt-4 justify-center gap-6">
        <h2 id="accordion-collapse-heading-0">
            <button type="button" (click)="toggleExportButtons()" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-2 focus:ring-gray-800 dark:focus:ring-white dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
              <span class="text-xl font-bold">Exportar
              </span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>
          <div [@accordion-animation]="showExportButtons ? 'expanded' : 'collapsed'" id="accordion-collapse-body-1" aria-labelledby="accordion-collapse-heading-1">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900 rounded-b-lg shadow-sm shadow-white">
                <div class="flex justify-center">
                    <div class="flex justify-center space-x-4">
                        <button type="submit" (click)="exportPDF()" class="w-[20%]"><img src="/imgs/pdf.png" title="Descargar como archivo PDF" alt="Descargar como archivo PDF" ></button>
                        <button type="submit" (click)="exportExcel()" class="w-[20%]"><img src="/imgs/xlsx.png" class="h-[109%]" title="Descargar como archivo Excel" alt="Descargar como archivo Excel" ></button>    
                        <button type="submit" (click)="exportJson()" class="w-[20%]"><img src="/imgs/json.png" title="Descargar como archivo JSON" alt="Descargar como archivo JSON"></button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
