<div class="container-fluid flex justify-center bg-slate-700 h-screen">
  <div class="row justify-content-md-center">
    <h2 class="m-5 font-orbitron text-center text-5xl font-bold bg-gradient-to-t cursor-default from-orange-500 to-slate-900 text-transparent bg-clip-text">Password Generator 1.0</h2>
    <div
      class="border-2 rounded-xl border-white mt-20 p-2 bg-slate-400 shadow-lg"
      id="container"
    >
      <form>
        <div>
          <div class="mb-2 p-5">
            <h5 class="text-center text-2xl font-bold bg-gradient-to-r cursor-default from-orange-500 to-slate-700 text-transparent bg-clip-text">Longitud de la contraseña</h5>
            <hr class="border-2 mt-3 mx-20">
          </div>
          <div class="flex md:flex-row flex-col justify-around items-center">
            <label for="length-range" class="block text-xl font-bold md:mb-0 mb-4 text-gray-600">Longitud actual: {{ passwordLength }}</label>
            <div>
                <button type="button" (click)="decreaseRange()" class="w-7 h-7 rounded-full bg-white text-lg font-semibold me-2 shadow-orange-800 hover:shadow-lg">-</button>
                <input (input)="GetRangeValue()" id="length-range" type="range" min="1" max="50" value="25" class="h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-orange-500">
                <button type="button" (click)="increaseRange()" class="w-7 h-7 rounded-full bg-white text-lg font-semibold ms-2 shadow-orange-800 hover:shadow-lg">+</button>
            </div>
          </div>
          <hr class="border-2 mt-6 mx-24 mb-3">
        </div>
        <!--Contenido del password-->
        <h5 title="Tipos de caracteres que se incluirán en la contraseña" class="text-center text-2xl font-bold bg-gradient-to-r cursor-default from-orange-500 to-slate-700 text-transparent bg-clip-text">Tipo de caracteres</h5>
        <div class="grid grid-cols-2 justify-center" id="checkboxes">
          <div
            class="my-3 flex justify-center"
            title="¿Incluir minúsculas?"
          >
            <input type="checkbox" class="mt-1.5 h-5 w-5" id="lowerCheck" />
            <label class="text-xl text-gray-600 font-bold ps-2" for="lowerCheck"
              >abc</label
            >
          </div>
          <div
            class="my-3 flex justify-center"
            title="¿Incluir mayúsculas?"
          >
            <input type="checkbox" class="mt-1.5 h-5 w-5" id="upperCheck" />
            <label class="text-xl text-gray-600 font-bold ps-2" for="upperCheck"
              >ABC</label
            >
          </div>
          <div
            class="my-3 flex justify-center"
            title="¿Incluir números?"
          >
            <input type="checkbox" class="mt-1.5 h-5 w-5" id="numbersCheck" />
            <label class="text-xl text-gray-600 font-bold ps-2" for="numbersCheck"
              >123</label
            >
          </div>
          <div
            class="my-3 flex justify-center"
            title="¿Incluir simbolos"
          >
            <input type="checkbox" class="mt-1.5 h-5 w-5 ms-2" id="simbolsCheck" />
            <label class="text-xl text-gray-600 font-bold ps-2" for="simbolsCheck"
              >&#64;$%</label
            >
          </div>
        </div>
        <hr class="border-2 mt-6 mx-24 mb-3">
        <!---->

        <!-- Exclusion de letras, numeros y simbolos-->
        <div
          class="my-2 grid justify-center text-center"
          title="Escriba los caracteres que no desea incluir en la contraseña"
        >
        <h5 class="mb-3 text-center text-2xl font-bold bg-gradient-to-r cursor-default from-orange-500 to-slate-700 text-transparent bg-clip-text">Excluir caracteres</h5>
        <input type="text" class="rounded-md" id="excludeCharacters" />
        </div>
        <hr class="border-2 mt-6 mx-24 mb-5">

        <!---->
        <!--Boton generar contraseña-->
        <div class="flex justify-center">
          <div>
            <button
              type="button"
              (click)="generateBase()"
              title="¡Vamos allá!"
              id="btnGenerate"
              class="text-gray-600 text-lg font-bold hover:text-white border border-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2 transition-all active:translate-y-1"
            >
              Generar contraseña
            </button>
          </div>
        </div>
        <!---->

        <!--Resultado-->
        <div
          class="flex-col text-center hidden"
          id="showPassword"
        >
          <div>
            <div class="mb-8">
              <hr class="border-2 mt-6 mx-56 mb-5">
              <span id="generatedPassword" class="rounded-md shadow-md bg-white p-2"></span>
            </div>
            <div class="mb-5 mt-5">
              <span id="passwordResult"></span>
            </div>
          </div>
          <div id="buttons" class="flex justify-center">
            <button (click)="savePassword()" type="button" id="btnSave" class="text-white font-semibold hover:text-white border border-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2">
              Guardar
            </button>
            <button type="button" (click)="copyToClipboard()" id="btnCopy" class="text-white font-semibold hover:text-white border border-slate-600 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2">
              Copiar al portapapeles
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
