<div class="container-fluid h-screen flex flex-col items-center bg-slate-700">
    <h2 class="m-5 font-orbitron text-center text-5xl font-bold bg-gradient-to-t cursor-default from-orange-500 to-slate-900 text-transparent bg-clip-text select-none">Mi Perfil</h2>
    <div class="flex max-sm:w-[80%] max-md:w-[60%] max-lg:w-[40%] my-20 w-[30%] item flex-col rounded-xl bg-clip-border text-gray-700 shadow-md border-white mt-20 p-2 bg-slate-400 border-2">
        <div class="p-1 -mt-8 mb-4 grid place-items-center text-center overflow-hidden rounded-xl bg-gradient-to-t from-orange-500 to-black bg-clip-border text-white shadow-lg shadow-black">
          <h3 class="block font-sans max-md:text-xl text-3xl font-semibold leading-snug tracking-normal text-white antialiased">
            {{user?.username}}
          </h3>
        </div>
        <!-- FORMULARIO DE CAMBIO DE NOMBRE DE USUARIO-->
        <form [formGroup]="usernameForm" (submit)="changeUsername()">
        <div class="flex flex-col gap-4 p-6">         
          
          <div class="relative h-11 w-[100%]">
            <p
              class="peer h-full w-full rounded-md bg-white px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
            >{{user?.createTime}}</p>
            <label class="font-semibold pointer-events-none absolute left-0 -top-2.5 flex h-full w-full select-none text-orange-600 leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[7.5px] after:ml-1 after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[15px] peer-focus:text-slate-800 peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:text-[22px]">
              Miembro desde
            </label>
          </div>
          <div class="relative h-11 w-[100%]">
            <p
              class="peer h-full w-full rounded-md bg-white px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
            >{{totalAccounts}} contraseñas guardadas</p>
            <label class="font-semibold pointer-events-none absolute left-0 -top-2.5 flex h-full w-full select-none text-orange-600 leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[7.5px] after:ml-1 after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[15px] peer-focus:text-slate-800 peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:text-[22px]">
              Contraseñas
            </label>
          </div>

          <div *ngIf="permitUsernameEdit" class="relative h-11 w-[100%] mb-8">
            <input id="username" formControlName="username"
              class="peer h-full w-full rounded-md bg-white px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
              placeHolder=" "
            />
            
            <label class="font-semibold pointer-events-none absolute left-0 -top-2.5 flex h-full w-full select-none text-orange-600 leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[7.5px] after:ml-1 after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[15px] peer-focus:text-slate-800 peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:text-[22px]">
              Nombre de usuario
            </label>
            <div *ngIf="usernameForm.get('username')?.hasError('required') && usernameForm.get('username')?.touched" class="m-2 font-semibold flex justify-center text-sm text-red-500">
              <p>El nombre de usuario es obligatorio</p>
            </div>
            <div *ngIf="errorEditUsername != ''" class="m-2 font-semibold flex justify-center text-sm text-red-500">
              <p>{{errorEditUsername}}</p>
            </div>   
          </div>

        </div>
        <div *ngIf="permitUsernameEdit" class="flex justify-center">
          <div class="mb-5 flex justify-center">
            <button 
            class="text-white font-normal p-3 hover:text-white border border-orange-600 enabled:hover:bg-orange-700 enabled:hover:font-semibold focus:ring-4 focus:outline-none  focus:ring-orange-300 rounded-lg text-md py-2.5 text-center enabled:transition-all enabled:active:translate-y-1"
            type="submit" data-ripple-light="true" [disabled]="!usernameForm.valid">Enviar</button>
          </div>
        </div>
      </form>
      <!--FIN DE FORMULARIO DE NOMBRE DE USUARIO-->

      <!-- FORMULARIO DE CAMBIO DE CONTRASEÑA-->
      <form *ngIf="permitPasswordEdit" [formGroup]="passwordForm" (submit)="changePassword()">
        <div>
          <hr class="border-2 shadow-md mx-12">
        </div>
        <div class="flex flex-col gap-4 p-6">
          <div class="relative h-11 w-[100%] mb-8">
            <input id="password" formControlName="password" type="password"
              class="peer h-full w-full rounded-md bg-white px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
            />
            <label class="font-semibold pointer-events-none absolute left-0 -top-2.5 flex h-full w-full select-none text-orange-600 leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[7.5px] after:ml-1 after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[15px] peer-focus:text-slate-800 peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:text-[22px]">
              Contraseña actual
            </label>
            <div *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched" class="m-2 font-semibold flex justify-center text-sm text-red-500">
              <p>La contraseña actual es obligatoria</p>
            </div>   
          </div>

          <div class="relative h-11 w-[100%] mb-4">
            <input id="newPassword" formControlName="newPassword" type="password"
              class="peer h-full w-full rounded-md bg-white px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
            />
            <label class="font-semibold pointer-events-none absolute left-0 -top-2.5 flex h-full w-full select-none text-orange-600 leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[7.5px] after:ml-1 after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[15px] peer-focus:text-slate-800 peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:text-[22px]">
              Contraseña actual
            </label>
            <div class="my-2 mb-4">
              <div *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched" class="mb-2 text-center font-semibold text-sm text-red-500">
                <p>La nueva contraseña es obligatoria</p>
              </div>
              <div *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched" class="mb-2 text-center font-semibold text-sm text-red-500">
                <p>La contraseña debe tener al menos 8 caracteres</p>
              </div>
              <div *ngIf="errorEditPassword != ''" class="mb-2 text-center font-semibold text-sm text-red-500">
                <p>{{errorEditPassword}}</p>
              </div> 
            </div>
          </div>
        </div>

        <div class="grid justify-center my-2">            
          <button 
          class="text-white font-normal p-4 mb-3 hover:text-white border border-violet-600 enabled:hover:bg-violet-700 enabled:hover:font-semibold focus:ring-4 focus:outline-none  focus:ring-violet-300 rounded-lg text-md py-2.5 text-center enabled:transition-all enabled:active:translate-y-1"
            type="submit" data-ripple-light="true" [disabled]="!passwordForm.valid">Enviar
          </button>
        </div>
      </form>
      <!--FIN DE FORMULARIO DE CAMBIO DE CONTRASEÑA-->

      <!-- BOTONES PARA ACTIVAR/DESACTIVAR FORMULARIOS-->
      <div class="flex justify-center gap-3">
        <button
          class="text-white font-normal p-4 mb-3 hover:text-white border border-orange-600 enabled:hover:bg-orange-700 enabled:hover:font-semibold focus:ring-4 focus:outline-none  focus:ring-orange-300 rounded-lg text-md py-2.5 text-center enabled:transition-all enabled:active:translate-y-1"
          type="button" data-ripple-light="true" (click)="editUsername()">Editar nombre
        </button>
        <button
          class="text-white font-normal p-4 mb-3 hover:text-white border border-violet-600 enabled:hover:bg-violet-700 enabled:hover:font-semibold focus:ring-4 focus:outline-none  focus:ring-violet-300 rounded-lg text-md py-2.5 text-center enabled:transition-all enabled:active:translate-y-1"
          type="button" data-ripple-light="true" (click)="editPassword()">Editar contraseña
        </button>
      </div>
      <!-- BOTON PARA ELIMINAR LA CUENTA DE USUARIO-->
      <div class="flex justify-center gap-3">
        <button
          class="text-white font-normal p-4 mb-3 hover:text-white border border-red-600 enabled:hover:bg-red-700 enabled:hover:font-semibold focus:ring-4 focus:outline-none  focus:ring-red-300 rounded-lg text-md py-2.5 text-center enabled:transition-all enabled:active:translate-y-1"
          type="button" data-ripple-light="true" (click)="confirmPassword()">Eliminar cuenta
        </button>
      </div>
    </div>
</div>