<div class="container-fluid flex justify-center bg-slate-700 h-screen">
  <div class="w-[40%] max-md:w-[50%] max-2xl:w-[35%] row justify-content-md-center">
    <h2
      class="m-5 font-orbitron text-center text-5xl font-bold bg-gradient-to-t cursor-default from-orange-500 to-slate-900 text-transparent bg-clip-text"
    >
      Guardar Password
    </h2>
    <div
      class="border-2 rounded-xl border-white mt-20 p-2 bg-slate-400 shadow-lg"
      id="container"
    >
      <form [formGroup]="cuentaForm" (submit)="saveAccount()">
        <div>
          <div class="mb-2 p-5">
            <h5
              class="text-center text-3xl font-bold bg-gradient-to-r cursor-default from-orange-500 to-slate-700 text-transparent bg-clip-text"
            >
              Rellene los campos
            </h5>
            <hr class="border-2 mt-3 mx-20" />
          </div>
        </div>
        <!--Inputs del formulario-->
        <div class="grid grid-cols-1 justify-center" id="inputs">
          <div class="flex justify-center mb-4">
            <label class="text-xl text-white font-semibold ps-2 w-[40%]" for="inputSite">Sitio</label>
            <input formControlName="site" class="rounded text-center shadow-md shadow-orange-400  w-[40%]" type="text" name="inputSite" id="inputSite" />
          </div>
          <div *ngIf="cuentaForm.get('site')?.hasError('required') && cuentaForm.get('site')?.touched" class="mb-4 me-[20%] font-semibold flex justify-end text-sm text-red-500">
            <p>El sitio es obligatorio</p>
          </div>
          <div class="flex justify-center mb-4">
            <label class="text-xl text-white font-semibold ps-2 w-[40%]" for="inputPassword">Password</label>
            <input formControlName="password" class="rounded text-center shadow-md shadow-orange-400 w-[40%]" type="password" name="inputSite" id="inputPassword"/>
          </div>
          <div *ngIf="cuentaForm.get('password')?.hasError('required') && cuentaForm.get('password')?.touched" class="mb-4 me-[20%] font-semibold flex justify-end text-sm text-red-500">
            <p>El password es obligatorio</p>
          </div>
          <div class="flex justify-center mb-4">
            <label class="text-xl text-white font-semibold ps-2 w-[55%]" for="inputDate">Fecha de expiración</label>
            <input formControlName="expiration" class="rounded-md shadow-md text-center shadow-orange-400 w-[25%]" type="date" name="inputDate" id="inputDate" />
          </div>
          <div *ngIf="cuentaForm.get('expiration')?.hasError('required') && cuentaForm.get('expiration')?.touched" class="mb-4 me-[15%] font-semibold flex justify-end text-sm text-red-500">
            <p>La fecha de expiración es obligatoria</p>
          </div>
          <div *ngIf="cuentaForm.get('expiration')?.touched && cuentaForm.get('expiration')?.hasError('dateInvalid')" class="mb-4 me-[15%] font-semibold flex justify-end text-sm text-red-500">
            <p>La fecha de expiración no puede ser anterior a la fecha actual</p>
          </div>
        </div>
        <!---->
        <hr class="border-2 mt-6 mx-24 mb-3" />
        <!--Boton de guardar-->
        <div>
          <div class="flex justify-center">
            <button
              type="submit"
              class="rounded-md border-2 border-white px-4 py-2 text-white font-bold hover:bg-orange-600"
              [disabled]="!cuentaForm.valid"
            >
              Guardar
            </button>
          </div>
        </div>
        <!---->
      </form>
    </div>
  </div>
</div>
